<section class="form--section">
  <div class="form--field">
    <%= styled_label_tag :slack_url, t(:slack_url) %>
    <%= styled_text_field_tag 'settings[slack_url]', @settings[:slack_url], size: 30, container_class: '-middle' %>
  </div>
  <div class="form--field">
    <%= styled_label_tag :default_channel, t(:default_channel) %>
    <%= styled_text_field_tag 'settings[default_channel]', @settings[:default_channel], size: 30, container_class: '-middle' %>
  </div>
  <div class="form--field">
    <%= styled_label_tag :username, t(:username) %>
    <%= styled_text_field_tag 'settings[username]', @settings[:username], size: 30, container_class: '-slim' %>
  </div>
  <div class="form--field">
    <%= styled_label_tag :icon, t(:icon) %>
    <%= styled_text_field_tag 'settings[icon]', @settings[:icon], size: 30, container_class: '-slim' %>
  </div>
  <%#= call_hook(:view_settings_slack_form) %>
</section>
